body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto";}
    
.logo-header {color: #2E2F42;
text-decoration: none;}

.header-links {
    color: #2E2F42;
    text-decoration: none;
}
.header-links:hover { text-decoration: underline;}
.header-contacts:hover {
    text-decoration: underline;
}

.header-contacts {
    color: #434455;
    text-decoration: none;
}


    ul{list-style-type: none;}


.hero-section {background-color:#2E2F42; text-transform: uppercase;}
.hero-title {color:#ffffff; text-align: center;}
.order-button {
    background-color: #4D5AE5;
    color:#FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
.head-three {color:#2E2F42;}
.head-two {color: #2E2F42;}
.description {color:#434455;}

.our-team {background-color: #F4F4FD;}
.footer-background { background-color:#2E2F42;}
.footer-description {color:#E7E9FC;}

.works {background-color:#F4F4FD; 
    color: #4D5AE5; 
    border:1px solid #E7E9FC;
border-radius: 4px;
cursor: pointer;}
.works-buttons .works:active {background-color: #404BBF;
color:#FFFFFF;}
.works-buttons .works:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}
