body {
    font-family: "Roboto", sans-serif;
}

:root {
    --background-color: #FFFFFF;
    --main-color: #404BBF;
    --logo-button-color: #4D5AE5;
    --border-color: #E7E9FC;
    --navy-blue-color: #2E2F42;
    --paragraph-color: #434455;
    --hover-button-color: #ffffff;
    --ourteam-background-color: #F4F4FD;
}

ul {
    list-style-type: none;
}

.header-view {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

.logo-header {
    color: var(--logo-button-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
}

.logo-header span {
    color: var(--navy-blue-color);}

.logo-footer {
    color: var(--logo-button-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
}

.logo-footer span {
    color: var(--ourteam-background-color);
    font-family: 'Raleway', sans-serif;
}

.header-links {
    color: var(--navy-blue-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-links:hover,
.header-links:focus {
    color: var(--main-color);
}

.header-contacts {
    color: var(--paragraph-color);
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--main-color);
}

.hero-section {
    background-color: var(--navy-blue-color);
    text-transform: uppercase;
}

.hero-title {
    font-size: 56px;
    line-height: 3.75;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hover-button-color);
}

.hero-button {
    font-family: "Roboto";
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    color: var(--hover-button-color);
    background: var(--logo-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero-button:hover {
    color: var(--hover-button-color);
    background-color: var(--main-color);
}

.head-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}

.head-two {
    font-size: 36px;
    line-height: 2.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

.description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
    ;
}

.our-team {
    background-color: var(--ourteam-background-color);
}

.portfolio-present {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
}

.command-members {
    display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--background-color);
}

.presentation {
    border: 1px solid var(--border-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.works {
    color: var(--logo-button-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}

.works-buttons {
    font-family: "Roboto";
}

.works-buttons .works:active {
    background-color: var(--main-color);
    color: var(--hover-button-color);
}

.works-buttons .works:hover {
    background-color: var(--main-color);
    color: var(--hover-button-color);
}


.footer-background {
    background: var(--navy-blue-color);
}

.footer-description {
    color: var(--border-color);
}